body {
    width: 95%;
    height: 100%;
    font-family: cursive;

}

.container {
    margin: 0 auto;
    width: 15%;
    height: 50%;
}
.container1{
    margin:0 auto;
    width: 31%;
    height: 50%;   
}
.title1{
    text-align: center;
}

.title__main {
    text-align: center;
}

.weather {
    text-align: center;
    background: aliceblue;
    border-radius: 0 20px;
}

/* .weather div{
    margin-bottom: 5px;
} */
/* .weather:nth-child(nth){
    margin-bottom: 10px;
} */