body {
    width: 95%;
    height: 100%;
    font-family: 'Recursive', sans-serif;

}

.container {
    margin: 0 auto;
    width: 15rem;
    height: 50%;
}
.container1{
    margin:0 auto;
    width: 31rem;
    height: 50%;   
}
.title1{
    text-align: center;
}

.title__main {
    text-align: center;
}

.weather {
    text-align: center;
    background: aliceblue;
    border-radius: 0 20px;
}
@media (min-device-width: 320px) and (max-device-width: 768px) {
    .container{
        width: 25rem;
    };
    .container1{
        width: 25rem;
    }

}


/* .weather div{
    margin-bottom: 5px;
} */
/* .weather:nth-child(nth){
    margin-bottom: 10px;
} */